<% include partials/header %>

<div class="container">
    <p>home page</p>
    <a href="/quiz1">quiz 1</a>
    
    <ul class="list-group">
        <% quizzes.forEach(function(quiz){ %>
            <a class="list-group-item" href="/quiz/<%= quiz._id %>"><%= quiz.name %></a>
        <% }); %>
    </ul>
    
</div>

<% include partials/footer %>
