<% include partials/header %>

<div class="container">
    <h1>Polls</h1>

    <ul class="list-group">
        <% quizzes.forEach(function(quiz){ %>
            <a class="list-group-item" href="/quiz/<%= quiz._id %>"><%= quiz.name %></a>
        <% }); %>
    </ul>
    
</div>

<% include partials/footer %>
