<% include partials/header %>

<div class="container">
    <h1>New Quiz</h1>
    <form action="/newquiz" method="POST">
        <input type="text" name="name" placeholder="name">
        <div id="inputs">
            <input type="text" id="input1" name="ansChoice1" placeholder="choice1">
            <input type="text" id="input2" name="ansChoice2" placeholder="choice2">
        </div>
        
        <input type="submit" value="Submit">
    </form>
    <button id="add">Add</button>
    <button id="minus">Minus</button>
</div>

<script type="text/javascript" src="/js/main.js"></script>

<% include partials/footer %>