<% include partials/header %>

<div class="container">
    <p>Quiz 1</p>
    <form action="/quiz1" method="POST">
        <div class="form-group">
            <label for="sel1">Select</label>
            <select class="form-control" id="sel1">
                <option name="A">A</option>
                <option name="B">B</option>
            </select>
        </div>
        <input type="submit" value="Submit">
    </form>
  
</div>

<% include partials/footer %>